Repository yannbf/frontend-code-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: lint, sasslint

.lintstagedrc.yml:

{
  "concurrent": false,
  "linters": {
    "src/**/*.ts": ["lint"],
    "{src/*.scss, src/**/*.scss}": ["sasslint"],
    "*": ["git add"]
  }
}

refactor(adv-list): present advertisement placeholder when loading
  src/app/components/advertisement-list/advertisement-list.component.html
Due: none

feat(adv-effects): handle error action
  src/app/state/effects/advertisement.effects.ts
Due: lint

feat(adv-reducer): add isLoading state
  src/app/state/reducers/advertisement.reducer.ts
Due: lint

test(adv-service): should return a list of 10 items
  src/app/services/advertisement.service.spec.ts
Due: lint

refactor(adv-reducer): use hash spread to avoid long verbiage
  src/app/state/reducers/advertisement.reducer.ts
Due: lint

feat(app): final tweaks, features and fixes
  .sass-lint.yml
  src/app/app.component.html
  src/app/app.component.scss
  src/app/components/advertisement-list-item/advertisement-list-item.component.html
  src/app/components/advertisement-list-item/advertisement-list-item.component.scss
  src/app/components/advertisement-list-item/advertisement-list-item.component.ts
  src/app/components/advertisement-list/advertisement-list.component.html
  src/app/components/advertisement-list/advertisement-list.component.scss
  src/app/components/advertisement-list/advertisement-list.component.ts
  src/app/pages/home/home.component.html
  src/app/pages/home/home.component.scss
  src/app/theme/variables.scss
  src/assets/img/EmptyIcon.svg
  src/assets/img/ErrorIcon.svg
  src/assets/img/KeyLogo.svg
  src/styles.scss
Due: lint, sasslint

docs(README): add info about the project
  README.md
Due: none

chore: add app screens
  screens/HandlingEmpty.png
  screens/HandlingError.png
  screens/LargeScreen.png
  screens/MediumScreen.png
  screens/Preloaders!.png
  screens/SmallScreen.png
Due: none

chore(gh-pages): add scripts to deploy directly to gh pages
  copy_www_to_docs.js
  docs/Roboto-Bold.c0f1e4a4fdfb8048c72e.woff2
  docs/Roboto-Bold.eed9aab5449cc9c8430d.woff
  docs/Roboto-Light.3c37aa69cd77e6a53a06.woff2
  docs/Roboto-Light.ea36cd9a0e9eee97012a.woff
  docs/Roboto-Medium.1561b424aaef2f704bbd.woff2
  docs/Roboto-Medium.cf4d60bc0b1d4b231408.woff
  docs/Roboto-Regular.3cf6adf61054c328b1b0.woff
  docs/Roboto-Regular.5136cbe62a63604402f2.woff2
  docs/Roboto-Thin.1f35e6a11d27d2e10d28.woff2
  docs/Roboto-Thin.44b78f142603eb69f593.woff
  docs/assets/icons/android-chrome-192x192.png
  docs/assets/icons/apple-touch-icon.png
  docs/assets/icons/browserconfig.xml
  docs/assets/icons/favicon-16x16.png
  docs/assets/icons/favicon-32x32.png
  docs/assets/icons/favicon.ico
  docs/assets/icons/mstile-150x150.png
  docs/assets/icons/safari-pinned-tab.svg
  docs/assets/img/EmptyIcon.svg
  docs/assets/img/ErrorIcon.svg
  docs/assets/img/KeyLogo.svg
  docs/assets/img/KeyLogoMini.svg
  docs/favicon.ico
  docs/index.html
  docs/inline.bundle.js
  docs/inline.bundle.js.map
  docs/main.bundle.js
  docs/main.bundle.js.map
  docs/manifest.json
  docs/polyfills.bundle.js
  docs/polyfills.bundle.js.map
  docs/scripts.bundle.js
  docs/scripts.bundle.js.map
  docs/styles.bundle.js
  docs/styles.bundle.js.map
  docs/vendor.bundle.js
  docs/vendor.bundle.js.map
  package.json
Due: none

chore(gh-pages): add base-href and sw
  docs/service-worker.js
  package.json
Due: none

Auto-generated commit
  404.html
  Roboto-Bold.c0f1e4a4fdfb8048c72e.woff2
  Roboto-Bold.eed9aab5449cc9c8430d.woff
  Roboto-Light.3c37aa69cd77e6a53a06.woff2
  Roboto-Light.ea36cd9a0e9eee97012a.woff
  Roboto-Medium.1561b424aaef2f704bbd.woff2
  Roboto-Medium.cf4d60bc0b1d4b231408.woff
  Roboto-Regular.3cf6adf61054c328b1b0.woff
  Roboto-Regular.5136cbe62a63604402f2.woff2
  Roboto-Thin.1f35e6a11d27d2e10d28.woff2
  Roboto-Thin.44b78f142603eb69f593.woff
  assets/icons/android-chrome-192x192.png
  assets/icons/apple-touch-icon.png
  assets/icons/browserconfig.xml
  assets/icons/favicon-16x16.png
  assets/icons/favicon-32x32.png
  assets/icons/favicon.ico
  assets/icons/mstile-150x150.png
  assets/icons/safari-pinned-tab.svg
  assets/img/EmptyIcon.svg
  assets/img/ErrorIcon.svg
  assets/img/KeyLogo.svg
  favicon.ico
  index.html
  inline.bundle.js
  inline.bundle.js.map
  main.bundle.js
  main.bundle.js.map
  manifest.json
  polyfills.bundle.js
  polyfills.bundle.js.map
  scripts.bundle.js
  scripts.bundle.js.map
  styles.bundle.js
  styles.bundle.js.map
  vendor.bundle.js
  vendor.bundle.js.map
Due: none

feat(wallaby): make project wallaby ready
  package.json
  tsconfig.json
  wallaby.js
  wallabyTest.ts
Due: none

fix(adv-service): add cors proxy
  src/app/services/advertisement.service.ts
Due: lint

docs(readme): add live demo
  README.md
Due: none

chore(firebase): add hosting config
  .firebaserc
  firebase.json
Due: none

test(shimmer): fix shimmer test
  src/app/components/shimmer/shimmer.component.spec.ts
Due: lint

test(advertisement-placeholder): fix test
  src/app/components/advertisement-placeholder/advertisement-placeholder.component.spec.ts
Due: lint

test(adv-service): change endpoint to match current one
  src/app/services/advertisement.service.spec.ts
Due: lint

test(home): remove unnecessary host component
  src/app/pages/home/home.component.spec.ts
Due: lint

docs(readme): add logo animation :D
  README.md
  screens/LogoAnimation.gif
Due: none

feat: add working version
  README.md
  src/app/components/advertisement-list-item/advertisement-list-item.component.html
  src/app/services/mock/advertisement.service.mock.ts
  src/app/state/effects/advertisement.effects.ts
Due: lint

docs: update gh pages content
  docs/inline.bundle.js.map
  docs/main.bundle.js
  docs/main.bundle.js.map
  docs/polyfills.bundle.js.map
  docs/scripts.bundle.js
  docs/styles.bundle.js.map
  docs/vendor.bundle.js.map
Due: none
